
<mat-card>
    <mat-card-title>User Login</mat-card-title>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="username" name="username" value="">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" name="password" value="">
              </mat-form-field>
            <div>
                <button mat-raised-button type="submit" color="primary">Login</button>
                <a href=""><button mat-raised-button color="accent">Register</button></a>
            </div>
          </form>
          
    </mat-card-content>
</mat-card>
  