<p>home works!</p>

<br>
<!-- Interpolation -->
Welcome to the Angular {{content}}
<br>
<br>
<!-- pipies -->
<h2 *ngIf="salary>0">My salary is {{salary | currency:'INR'}}</h2>
<br>
<br>
 
<!-- Event Binding -->
<button (click)="onClick('great')">Click ME</button>

<br>
<br>
<!-- property binding -->
<input [disabled]="isdisabled" [value]="isdisabled" #txt (change)="onClick(txt.value)" type="text">
<br>
<br>
<!-- Two way Binding -->
<input [(ngModel)]="content">

<ul>
    <li *ngFor="let item of colors">{{item}}</li>
</ul>